
header, main, footer { 
    border: 3px black;
    min-height: 50px;
}

#video_background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }