#video_background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
  }

.flex-container 
  {
  display: flex;
  background-color: black;
  }

.flex-container > 
  div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  }

  #marte{
    background: url(https://www.nasa.gov/sites/default/files/thumbnails/image/pia22486_orig.png) center center no-repeat;
    background-size: cover;
    align-items: center;
  }
  
  
  a:visited {
    color: black; /* Cambia el color a tu preferencia */
    text-decoration: none; /* Elimina el subrayado */
  }  

h1 { 
  color: white;
    
}

.formulario2 {
  width: 70px;
}